@import url("https://fonts.googleapis.com/css2?family=Gluten:wght@100..900&family=Patrick+Hand+SC&display=swap");

html {
  background-color: $primary-accent;
}

body {
  margin: 0;
  background-color: transparent;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: lightgray;
  height: 100vh;
  line-height: 1.5em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $title-font-family;
  font-weight: $title-font-weight;
}

h1 {
  font-size: 3rem;
  margin-bottom: 0.1rem;
  line-height: 3rem;
}

a {
  color: #ffffff;
  text-decoration: none;
}

a:hover,
a:active {
  text-decoration: underline;
}

a[target="_blank"]::after {
  content: "\231D";
}

.theme-light {
  color: $theme-light--text-color;
  background-color: $theme-light--background-color;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $theme-light--title-color;
  }

  a {
    color: $theme-light--text-color;
    text-decoration: underline;

    &:active,
    &:hover {
      text-decoration: none;
    }
  }
}