$primary-accent: #394432;

$title-font-family: "Gluten", cursive;
$title-font-weight: 400;
$title-color: #fff;

$theme-light--background-color: #e2e3e1;
$theme-light--title-color: rgb(99, 113, 99);
$theme-light--text-color: #454;
